In [1]:
import pandas as pd
import assets.engine as engine

df = pd.DataFrame() # Empty DataFrame

# Fetch data from the engine and populate the DataFrame
data = engine.get_ohlc('XXBTZUSD', '1d', 256)
df = pd.DataFrame(data, columns=['time', 'open', 'high', 'low', 'close', 'vwap', 'volume', 'count'])

df['time'] = pd.to_datetime(df['time'], unit='s')

df['change'] = df['close'].astype(float).diff()
df['gain'] = df.change.mask(df.change < 0, 0.0)
df['loss'] = -df.change.mask(df.change > 0, -0.0)

# Calculate average gain and loss
window = 14  # RSI period
df['avg_gain'] = df['gain'].rolling(window=window, min_periods=window).mean()
df['avg_loss'] = df['loss'].rolling(window=window, min_periods=window).mean()

df['rs'] = df.avg_gain / df.avg_loss
df['rsi'] = 100 - (100 / (1 + df.rs))

# Display the DataFrame
df.tail(8)

,time,open,high,low,close,vwap,volume,count,change,gain,loss,avg_gain,avg_loss,rs,rsi
248,2025-07-21,117319.0,119630.4,116623.7,117461.0,118113.7,1065.22315704,38151,141.9,141.9,0.0,954.742857,299.107143,3.191976,76.144902
249,2025-07-22,117461.0,120237.5,116260.0,119977.5,118635.4,1256.61089025,36977,2516.5,2516.5,0.0,1088.078571,299.107143,3.637755,78.437844
250,2025-07-23,119977.5,120100.0,117411.0,118735.3,118213.6,1088.89687083,35883,-1242.2,0.0,1242.2,917.235714,387.835714,2.365011,70.282415
251,2025-07-24,118735.3,119489.8,117316.0,118386.9,118494.4,946.99617232,30740,-348.4,0.0,348.4,583.914286,412.721429,1.414790,58.588537
252,2025-07-25,118387.5,118452.0,114733.1,117628.1,116140.8,1610.09496959,55911,-758.8,0.0,758.8,473.742857,466.921429,1.014609,50.362586
253,2025-07-26,117628.1,118276.6,117197.6,117937.5,117834.7,458.69314606,19558,309.4,309.4,0.0,495.842857,461.807143,1.073701,51.777044
254,2025-07-27,117937.6,119793.4,117863.8,119455.0,118792.1,543.22792339,21777,1517.5,1517.5,0.0,487.014286,461.807143,1.054584,51.328340
255,2025-07-28,119455.1,119779.9,117623.1,117623.1,118520.8,545.59991345,21625,-1831.9,0.0,1831.9,433.235714,592.657143,0.731006,42.230113